<div class="container">
  <h1 class="header">Password Validation</h1>
  <form [formGroup]="form" class="form" (ngSubmit)="submit()">
    <div class="group">
      <input
        formControlName="password"
        [type]="show ? 'text' : 'password'"
        class="form_input"
        (input)="typed()"
      />
      <label [class]="isTyped ? 'form_input_label shrink' : 'form_input_label'">
        Password
      </label>
      <button type="button" class="btn_icon" (click)="switchShowPassword()">
        <img
          class="icon"
          [src]="
            show
              ? '../../../assets/icon-eye-close.svg'
              : '../../../assets/icon-eye-open.svg'
          "
        />
      </button>
      <div class="passwordStrength">
        <span class="poor"></span>
        <span class="weak"></span>
        <span class="strong"></span>
      </div>
    </div>

    <button type="submit" class="btn-submit">Check</button>
  </form>
</div>
