@mixin shrink_label {
  top: -4px;
  font-size: 18px;

  color: var(--gray);
}

@keyframes line_animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.container {
  margin: 20vh auto;
  width: 80vw;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.562);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);

  .header {
    color: var(--gray);
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .group {
      position: relative;
      width: 80%;
    }

    .form_input {
      position: relative;
      background: none;
      background-color: rgba(255, 255, 255, 0.777);
      color: var(--gray);
      font-size: 1.2rem;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: var(--border-radius);
      border-bottom: 1px solid var(--gray);
      margin: 1.5rem 0;

      &.error_line {
        border-bottom: 2px solid var(--red);
      }

      &:focus {
        outline: none;
      }

      &:focus ~ .form_input_label {
        @include shrink_label();
      }
    }

    .form_input_label {
      color: var(--gray);
      font-size: 1.2rem;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 7px;
      top: 2rem;
      transition: 300ms ease all;

      &.shrink {
        @include shrink_label();
      }
    }

    .btn_icon {
      background-color: transparent;
      border: none;
      position: absolute;
      right: -10px;
      top: 30px;
      cursor: pointer;
      transition: all 0.6s;

      .icon {
        height: 24px;
        width: 24px;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .btn_submit {
      background-color: #ecd344e1;
      border: none;
      border-radius: var(--border-radius);
      padding: 15px 40px;
      text-align: center;
      text-justify: center;
      color: #19292b;
      transition: all 0.3s;
      cursor: pointer;
      margin-bottom: 30px;

      &:hover {
        transform: scale(1.1);
        background-color: #ecd344;
      }
    }

    .passwordStrength {
      width: 100%;
      height: 10px;
      margin: 20px 0;
      display: flex;
      gap: 2px;
      justify-content: center;

      span {
        position: relative;
        height: 100%;
        width: 30%;
        background: lightgrey;
        border-radius: 5px;
        background-color: rgb(76, 76, 76);
        // transition: all 0.5s;
      }
      .red_line {
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgb(222, 2, 2);
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          border-radius: var(--border-radius);
          animation-name: line_animation;
          animation-duration: 0.9s;
          animation-timing-function: ease-in-out;
        }
      }
      .yellow_line {
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: #ecd344;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          border-radius: var(--border-radius);
          animation-name: line_animation;
          animation-duration: 0.9s;
          animation-timing-function: ease-in-out;
        }
      }
      .green_line {
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: green;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          border-radius: var(--border-radius);
          animation-name: line_animation;
          animation-duration: 0.9s;
          animation-timing-function: ease-in-out;
        }
      }
    }
    .check_text_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;

      .strength_text {
        padding: 5px 10px;
        color: inherit;

        &.green_border {
          border: 1px solid green;
        }

        &.red_border {
          border: 1px solid rgb(222, 2, 2);
        }
      }

      .strength_rules {
        margin: 5px 0;

        ul {
          margin: 0;
          padding: 0;
          li {
            list-style-position: inside;
            list-style-type: circle;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .container {
    max-width: 500px;
  }
}
